<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	
	<title>Tecnologías Chapinas, S.A</title>

	<link rel="shortcut icon" href="{% static 'FrontApp/images/gt_favicon.png' %}">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'FrontApp/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'FrontApp/css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'FrontApp/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'FrontApp/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{% url 'Home' %}"><img src="{% static 'FrontApp/images/logo.png' %}" alt="Tecnologías Chapinas"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="{% url 'Home' %}">Home</a></li>
					<li><a href="{% url 'Load File' %}">Load</a></li>
					<li><a href="{% url 'Request' %}">Request</a></li>
					<li><a href="{% url 'Help' %}">Help</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	

	<!--
		Aqui colocar todo el body
	-->
	{% block content %}


	{% endblock %}
	
	
	


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>
								<a href="mailto:#">201809935@ingenieria.usac.edu.gt</a><br>
								<br>
								
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://github.com/saulbarbero"><i class="fa fa-github fa-2"></i></a>
							</p>	
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2022, Saúl Barbero. Designed by Saúl Barbero</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'FrontApp/js/headroom.min.js' %}"></script>
	<script src="{% static 'FrontApp/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'FrontApp/js/template.js' %}"></script>
	<script src="{% static 'FrontApp/js/acciones.js' %}"></script>
</body>
</html>