
{% extends "FrontApp/base.html" %}

{% load static %}

{% block content %}

<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">POSITIVO, NEGATIVO, NEUTRO</h1>
				<p class="tagline">Lideres en analisis de sentimientos </p>
				
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			
			
			
			<h3 class="text-center thin">Prueba de Mensaje</h3>
			
			<div class="row">
				<form method="POST">
					{% csrf_token %}
					<div class="row" style="display:flex;">
						<div class="col" style="padding-right:5% ;">
							<textarea id="textarea1" name="textarea1" style="width: 150px; height: 350px;"></textarea>
						</div>
						<div class="col" style="padding:5% ;">
							<input class="btn btn-default btn-lg" type="submit">
						</div>
						<div class="col" style="padding-left:5% ;">
							<textarea id="textarea2" name="textarea2" style="width: 150px; height: 350px;">{{result}}</textarea>
						</div>
					</div>


				</form>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

{% endblock %}
	