
{% extends "FrontApp/base.html" %}

{% load static %}

{% block content %}

<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">POSITIVO, NEGATIVO, NEUTRO</h1>
				<p class="tagline">Lideres en analisis de sentimientos </p>
				
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<a class="btn btn-default btn-lg" role="button">Enviar</a> 
			<a class="btn btn-action btn-lg delete_button" role="button">Reset</a></p>
			
			<h3 class="text-center thin">Prueba de Mensaje</h3>
			
			<div class="row">
				<div class="col highlight">
					<div class="row">
						<div class="col">
							<textarea placeholder="Type your input" class="form-control" rows="9"></textarea>
						</div>
					</div>
				</div>
				
				<div class="col highlight">
					<div class="row">
						<div class="col">
							<textarea placeholder="OUTPUT" class="form-control" rows="9"></textarea>
						</div>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

{% endblock %}
	