{% extends "FrontApp/base.html" %}

{% load static %}

{% block content %}

<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">

        
			<a href="{% url 'pdf_prueba' %}"class="btn btn-action btn-lg" role="button">PDF</a></p>
      <a href="{% url 'Eliminar_Prueba' %}" class="btn btn-action btn-lg" role="button">Reset</a></p>

        
           
        
            <div class="wrap">
              <ul class="tabs">
                  
                  <li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Clasificación</span></a></li>
                  
                  
              </ul>
      
              <div class="secciones">
                  
                  <article id="tab2">
                      <h1>Clasificación por fecha</h1>


                      <div class="container mt-3">
                          <h2>Filterable Table</h2>
                          <p>Type something in the input field to search the table for first names, 
                          last names or emails:</p>  
                          <input class="form-control" id="myInput" type="text" placeholder="Search..">
                          <br>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Nombre</th>
                                <th>Total</th>
                                <th>Positvo</th>
                                <th>Negativo</th>
                                <th>Neutro</th>
                                
                              </tr>
                            </thead>
                            <tbody id="myTable">
                             <!-- <ul>
                                {%for prueba in ObjetoPruebas %}
                                <li>{{prueba.nombre}}</li>
                                <li>{{prueba.positivos}}</li>
                                <li>{{prueba.negativos}}</li>
                                {%endfor%}
                              </ul>
                              -->
                              {%for prueba in SentimientosEmpresa %}
                              <tr>
                                
                                <td>{{prueba.nombre}}</td>
                                <td>{{prueba.totalMensajes}}</td>
                                <td>{{prueba.positivos}}</td>
                                <td>{{prueba.negativos}}</td>
                                <td>{{prueba.neutrales}}</td>
                                
                              </tr>
                              {%endfor%}
                              
                            </tbody>
                          </table>
                         
                          
                          <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
                        </div>


                   </article>
                 
                  
              </div>
          </div>
      
          <div class="wrap">
            <ul class="tabs">
              
                <li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Rango</span></a></li>
                
            </ul>
    
            <div class="secciones">
                
                <article id="tab3">
                    <h1>Rango por fecha</h1>



                    <p>Type something in the input field to search the table for first names, 
                        last names or emails:</p>  
                        <input class="form-control" id="myInput" type="text" placeholder="Search..">
                        <br>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Total</th>
                              <th>Positvo</th>
                              <th>Negativo</th>
                              <th>Neutro</th>
                              
                            </tr>
                          </thead>
                          <tbody id="myTable">
                           <!-- <ul>
                              {%for prueba in ObjetoPruebas %}
                              <li>{{prueba.nombre}}</li>
                              <li>{{prueba.positivos}}</li>
                              <li>{{prueba.negativos}}</li>
                              {%endfor%}
                            </ul>
                            -->
                            {%for prueba in SentimientosEmpresa %}
                            <tr>
                              
                              <td>{{prueba.nombre}}</td>
                              <td>{{prueba.totalMensajes}}</td>
                              <td>{{prueba.positivos}}</td>
                              <td>{{prueba.negativos}}</td>
                              <td>{{prueba.neutrales}}</td>
                              
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                        
                        <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>



                </article>
                
            </div>
        </div>
    
        
    
    </div>
</div>
<!-- /Highlights -->



{% endblock %}